faceRecognitionApp
[{"id":"5e6b3315.ef55ec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f0d96849.d715a8","type":"http in","z":"5e6b3315.ef55ec","name":"","url":"/anhuynhFaceApp","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["53952052.e7d1f"]]},{"id":"53952052.e7d1f","type":"switch","z":"5e6b3315.ef55ec","name":"Check image URL","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":303.5,"y":169.5,"wires":[["502ed3e7.7565bc"],["40844e87.3ef5a"]]},{"id":"502ed3e7.7565bc","type":"template","z":"5e6b3315.ef55ec","name":"Prompt images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n  <title>An Face Recognition</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js\"></script>\n</head>\n\t<nav class=\"navbar navbar-expand-lg navbar-dark bg-dark\"  style=\"background-color: #b3dbff;\">\n    <a class=\"navbar-brand\" href=\"https://github.com/huynhtan97\">An Huynh</a>\n  </nav>\n<body>\n  <div class=\"container\" style=\"padding-bottom: 40px;\">\n    <h1>Face Recognition Application Made from Node-Red</h1>\n    <p>Example images:</p>\n    <span>&nbsp;</span>\n    <span>\n      <img src=\"https://media.licdn.com/dms/image/C5603AQEunyvUUP2iew/profile-displayphoto-shrink_200_200/0?e=1554940800&v=beta&t=2ps2tfR3yZqYEktUyBaq1vHt5n1oRzKC8c_Q3t-nd7c\" alt=\"ProfileImage\" class=\"img-thumbnail\">\n      <img src=\"https://i.pinimg.com/originals/d9/e9/e1/d9e9e1d769dce15342e789d687c60712.jpg\" alt=\"Man\" class=\"img-thumbnail\">\n      <img src=\"https://www.asalesguy.com/wp-content/uploads/2016/09/man-screaming-300x200.jpg\" alt=\"Man\" class=\"img-thumbnail\">\n    </span>\n    <span>&nbsp;</span>\n    <h4><b>Enter Image Url and View Results</b></h4>\n    <form action=\"{{req._parsedUrl.pathname}}\">\n        <span>Img url: <input type=\"text\" name=\"imageurl\"/></span>\n        <input class=\"btn-primary\" type=\"submit\" value=\"Analyze\" />\n    </form>\n  </div>\n</body>\n","output":"str","x":580.5,"y":73.5,"wires":[["e2f0eec4.37172"]]},{"id":"40844e87.3ef5a","type":"change","z":"5e6b3315.ef55ec","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":563,"y":246.5,"wires":[["8a59a336.5c128"]]},{"id":"8a59a336.5c128","type":"visual-recognition-v3","z":"5e6b3315.ef55ec","name":"Detect Faces","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":776,"y":276.25,"wires":[["aa40981.e85ee68"]]},{"id":"aa40981.e85ee68","type":"template","z":"5e6b3315.ef55ec","name":"Report faces","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>IBM Facial Recognition Image Analysis</h1>\n\n<!-- parse all images -->\n{{#result.images}}\n<p>Analyzed image: {{source_url}}<br/><img id=\"alchemy_image\" src=\"{{source_url}}\" height=\"200\"/></p>\n\n{{^faces}}\n<P>No Face detected</P>\n{{/faces}}\n\n<table border='2' style=\"color:blue;\">\n<thead><tr><th>Age Range</th><th>Confidence</th><th>Gender</th><th>Confidence</th><th>Name</th></tr></thead>\n<!-- parse all faces -->\n{{#faces}}\n<tr>\n<td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n<td>{{gender.gender}}</td><td>{{gender.score}}</td>\n{{#identity}}<td>{{identity.name}} ({{identity.score}})</td>{{/identity}}\n</tr>{{/faces}}\n</table>\n{{/result.images}}\n<form action=\"{{req._parsedUrl.pathname}}\">\n<br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n</form>\n","output":"str","x":938.5,"y":149.5,"wires":[["e2f0eec4.37172"]]},{"id":"e2f0eec4.37172","type":"http response","z":"5e6b3315.ef55ec","name":"","x":1148,"y":101.25,"wires":[]}]